@import url('./_Color_System.scss');
//import style dataTable
@import 'datatables.net-dt';
@import url('./_DataTable.scss');
.lzscroll{
    overflow-y: auto;
}
.lzscroll::-webkit-scrollbar {
    width: 11px;               /* width of the entire scrollbar */
  }
.lzscroll::-webkit-scrollbar-track {
    background: var(--main-primary);        /* color of the tracking area */
    border-radius: 10px;
}

.lzscroll::-webkit-scrollbar-thumb {
    background-color: var(--popup); 
    width: 10px;  /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    padding: 3px;
    border: 3px solid var(--main-primary);
    padding-top: 10px;
}

.lz-animation{
    transition: all ease-out 0.1s;
}
.hover-text{
    &:hover{
        color:var(--color-3) !important;
    }
}

.lz-2line{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Number of lines to display */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;       /* Set a max width */
}

.lz-line{
    max-width: 149px;           /* Set a fixed width */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}