@import url('_Color_Primary.scss');
:root{
    --white-dark:#ffffff;
    --slate:#a7a7a72e;
    --popup:#f7f7f7;
    --color:#686868;
    --color-1:#6f6f6f;
    --color-2:#797979;
    --color-3:#414141;
    --color-input:#313131;
    --bg-input:#d1d1d1;
    --bd-slate:#cbcbcb;
    --bg-navleft:#f2f2f2;
    --main-primary:#C96112;
    --bg-loading:#0000001a;
    // --bg-loading:
}
.dark{
    --white-dark:#222831;
    --slate:#00000038;
    --popup:#1e1e1e;
    --color-1:#616161;
    --color-2:#797979;
    --color-3:#989898;
    --color:#d0d0d0;
    --color-input:#313131;
    --bg-input:#3d3d3d;
    --bd-slate:#ffffff4a;
    --bg-navleft:#1e242c;
    --bg-loading:#ffffff0d;
}

.main_color{
    --main-primary:#C96112;
}
.dark{
    --main-primary:#C96112;
}

.bg-popup{
    background: var(--popup) !important;
}

.border-slate{
    border: 1px solid var(--bd-slate) !important;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.border-primary{
    border:1px solid var(--main-primary) !important;
}
.lz-animation{
    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 250ms !important;
    transition-timing-function: linear !important;
}
.bg-navleft{
    background:var(--bg-navleft) !important;;
}
.bg-box-wrapper{
    background: var(--white-dark) !important;
}
.bg-input{
    background: var(--bg-input) !important;;
}
.bg-slate{
    background: var(--slate) !important;
}
.color-default{
    color: var(--color) !important;
}
.color-1{
    color:var(--color-1) !important;
}
.color-3{
    color:var(--color-3) !important;
}
.color-2{
    color:var(--color-2) !important;
}
.color-input{
    color:var(--color-input) !important;
}
.color-primary{
    color:var(--main-primary) !important;
}
.bg-primary{
    background:var(--main-primary) !important;
}
.bd-primary{
    border: 1px solid var(--main-primary);
}

.bg-loading{
    background: var(--bg-loading) !important;
}